<!doctype html>
<html ng-app="myApp">

<head>
    <title>USERSLIST</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body class="ng-cloak">
    <div class="container-fluid">
        <div ng-controller="selectController as Controller">
            <h3>Open USERSLIST</h3>
            <select class="custom-select" ng-model="userData">
                <option ng-repeat="model in users" class="names" value="{{model}}">{{model.name}}</option>
            </select>
            <p>{{userData}}</p>
        </div>
        <hr>
        <hr>

        <div ng-controller="userController as Controller">
            <my-datauser></my-datauser>
        </div>
    </div>
    <hr>


    <script src="module.js"></script>
    <script src="service.js"></script>
    <script src="controller.js"></script>
    <script src="components.js"></script>
</body>

</html>