body {
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.names{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.money{
    font-weight: bold; 
}
.contacts{
    color: rgba(92, 189, 189, 0.9);
}